div#collections-container {
    display: flex;
    margin: 1rem 0rem;
  }

  #collections-title {
    font-family: sans-serif;
    font-size: 1.25rem;
    color: #000000c9;
  }

  div#collections-body {
    position: relative;
    top: 5rem;
    margin: 0px 19rem;
    width: 70.5%;
  }

  .collection-cover-img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;

    display: block;
    /* width: 100%; */
  }

  .collection-overlay-ctnr {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 12.5rem;
    transition: .5s ease;
    opacity: 0;
    line-height: 1.5;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: revert;
    font-family: monospace;
    font-size: 1rem;
  }

  .collections-li:hover .collection-overlay-ctnr {
    opacity: 1;
  }

  .collections-li {
    margin: 0 1rem;
  }

  button#add-collection-click-btn {
    background: transparent;
    border: none;
    color: #000000c9;
    font-size: 1rem;
    cursor: pointer;
  }

  button#add-collection-click-btn:hover {
    opacity: .9;
  }

  div#collections-header-cntr {
    display: flex;
    /* padding: 0 11rem; */
    justify-content: space-between;
  }
