#collections-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#collections-title {
    font-family: sans-serif;
    font-size: 50px;
    margin: 25px 0 10px;
}

#collections-li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.select-collection-title {
    margin: 20px 0 20px;
    font-size: 25px;
    color: black;
    cursor: pointer;
}

#collection-cover-img {
    width: 50%;
  cursor: pointer;
  min-width: 286px;
  max-width: 286px;
  min-height: 286px;
  max-height: 286px;
  margin: 0 30px;
}

#anchor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-collection-btn {
    border: none;
    padding: 10px 79px;
    font-family: sans-serif;
    cursor: pointer;
    z-index: 1;
    font-weight: 600;
    font-size: 18px;
    background: black;
    color: white;
    z-index: 0;
    margin-bottom: 50px;
    position: relative;
    bottom: 50px;
}

#collections-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#add-collection-container {
    display: flex;
  flex-direction: column;
  align-items: center;
}

#add-collection-click-btn {
    border: none;
    padding: 10px 79px;
    font-family: sans-serif;
    cursor: pointer;
    z-index: 1;
    font-weight: 600;
    font-size: 18px;
    background: black;
    color: white;
    margin: 15px;
    z-index: 0;
    margin-bottom: 80px;
}

.photo {
    width: 100%;
    height: 25em;
    cursor: pointer;
  }
