.text {
    font-family: sans-serif;
}

img#selected-photo {
    width: 30rem;
  }

  div#photo-detail-img-ctnr {
    padding-top: 7rem;
    padding-bottom: 5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #212124;
  }

  div#photo-detail-bottom-ctnr {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
  }

  div#photo-detail-details-ctnr {
    display: flex;
    width: 58%;
    flex-direction: row;
    justify-content: space-between;
  }

  h1#photo-title {
    font-family: sans-serif;
    margin-top: 1rem;
  }

  div#comments {
    font-family: sans-serif;
  }

  div#comments-details {
    margin: 1rem 0;
  }

  div#photo-detail-details-ctnr {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
  }

  div#comment-username {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #747474;
  }

  .text.photo-uploader-name {
    font-size: 14px;
    color: #515151;
    margin-top: 0.5rem;
}

.photo-collection-name-back {
    font-size: 1rem;
    color: white;
    cursor: pointer;
    width: 97%;
    position: relative;
    bottom: 2.5rem;
  }

  .photo-collection-name-back:hover {
    text-decoration: underline;
  }
