#root {
    min-height: fit-content;
    overflow-x: hidden;
    overflow-y: hidden;
    min-width: 1080px;
}

#splash-body {
    height: 850px;
    width: 100%;
}

#mid-header-container {
    margin: 1px 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    min-width: 1080px;
    width: 100%;

}

#mid-header-photo {
    z-index: -10;
}

.mid-header-video {
    opacity: 1;
    transition: .4s .2s;
    width: 100%;
    min-width: 1080px;
    z-index: -1;
}

#video-text-container {
    width: 630px;
    height: 350px;
    /* background-color: #0000005c; */
    z-index: 10;
    position: absolute;
    bottom: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}

#video-text-title {
    color: white;
    font-family: sans-serif;
    font-size: 50px;
    position: relative;
    top: 70px;
}

#video-signup-button {
    padding: 15px 150px;
    border: none;
    background: black;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

#demo-user-container {
    border: none;
    position: relative;
    top: 10px;
}

#demo-user-btn {
    padding: 15px 160px;
    border: none;
    background: black;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

#demo-user-btns {
    position: relative;
    top: 100px;
}

#browse-looks-button {
    padding: 15px 150px;
    border: none;
    background: black;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
