* {
    margin: 0;
}

div#nav-cntr {
    height: 50px;
    width: 100%;
    position: fixed;
    background: rgba(21,21,23,.95);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
  }

  div#nav-content-outer-ctnr {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 19rem;
  }

  div#nav-icon-cntr {
    min-width: fit-content;
  }

  img#nav-logo {
    width: 6rem;
  }

  button#upload-photo-nav-btn {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .navbar-icons {
    font-size: 2rem;
    color: white;
    margin: 0 1rem;
    cursor: pointer;
  }

  a.nav-left-about-links {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    margin: 0 1rem;
  }

  div#nav-left-container {
    color: white;
    display: flex;
    align-items: center;
    /* position: relative;
    right: 8rem; */
  }

  i.fa-solid.fa-arrow-right-from-bracket.navbar-icons {
    margin-left: 1.5rem;
  }
